<div class="row">
  <div class="col-4 text-right">

    <h3 class="my-3">Burger Menu</h3>
    <div class="list-group">
      {{#each burgers}}
        {{#unless this.devoured}}

          <div class="list-group-item clearfix">
            {{this.burger_name}}
            <span class="pull-right">
              <button class="btn btn-xs btn-dark devour" data-id="{{this.id}}">Devour</button>
            </span>
          </div>

        {{/unless}}
      {{/each}}
    </div>


  </div>
  <div class="col-4">
    <h1 class="my-3">Eat Da Burger</h1>
    <img src="assets/img/burger.png" alt="buger" class="img-fluid mb-3">
    <form id="add-burger">
      <div class="form-group">
        <input type="text" name="burger-name" id="burger-name" class="form-control">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark btn-block">Add Da Burger</button>
      </div>
    </form>
  </div>
  <div class="col-4">

    <h3 class="my-3">Burger I'v Devoured</h3>
    <div class="list-group">
      {{#each burgers}}
        {{#if this.devoured}}
          <div class="list-group-item clearfix">
            That <b>{{this.burger_name}}</b> was yummy!
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>



